<div class="privacy-policy-page">
	<h2>Privary and Cookie Policy</h2>
	<div id="primary" class="content-area">
		<main id="main" class="site-main">
			<article id="post-853" class="post-853 page type-page status-publish hentry">
				<div class="post-thumbnail"></div>
				<div class="text-holder">
					<div class="entry-content">
						<div class="text"><p><a href="https://app.docstowp.com">Docstowp.com</a> takes your privacy seriously. This privacy policy describes what personal information we collect and how we use it. See this&nbsp;<a href="https://www.google.com/policies/privacy/">privacy policy primer</a>&nbsp;to learn more about privacy policies in general.</p>
						<h2>Routine Information Collection</h2>
						<p>All web servers track basic information about their visitors. This information includes, but is not limited to, IP addresses, browser details, timestamps and referring pages. None of this information can personally identify specific visitors to this site. The information is tracked for routine administration and maintenance purposes.</p>
						<h2>Cookies and Web Beacons</h2>
						<p>Where necessary, Docstowp uses cookies to store information about a visitor’s preferences and history to better serve the visitor and present the visitor with customized content.</p>
						<p>Advertising partners and other third parties may also use cookies, scripts, and/or web beacons to track visitors to our site to display advertisements and other useful information. Such tracking is done directly by the third parties through their servers and is subject to their privacy policies.</p>
						<h2>Controlling Your Privacy</h2>
						<p>Note that you can change your browser settings to disable cookies if you have privacy concerns. Disabling cookies for all sites is not recommended as it may interfere with your use of some sites. The best option is to disable or enable cookies on a per-site basis. Consult your browser documentation for instructions on how to block cookies and other tracking mechanisms. This list of&nbsp;<a href="https://www.google.com/policies/technologies/managing/">web browser privacy management</a>&nbsp;links may also be useful.</p>
						<h2>Special Note About Google Advertising</h2>
						<p>Any advertisements served by Google, Inc., and affiliated companies may be controlled using cookies. These cookies allow Google to display ads based on your visits to this site and other sites that use Google advertising services. Learn how to&nbsp;<a href="http://www.google.com/privacy_ads.html">opt out of Google’s cookie usage</a>. As mentioned above, any tracking done by Google through cookies and other mechanisms is subject to Google’s privacy policies.</p>
						<h2>Collected contact information</h2>
						<p>We will not sell or share your personal data with third parties. We will use the information to respond to inquiries. From time to time, we may contact you about new content, products, services or events that are relevant to your interests.</p>
						<h2>Contact Information</h2>
						<p>Concerns or questions about this privacy policy can be directed to our contact us page for further clarification.</p>
						</div>	</div><!-- .entry-content -->
						<footer class="entry-footer">
							</footer><!-- .entry-footer home-->
							</div><!-- .text-holder -->
							</article><!-- #post-853 -->
							</main><!-- #main -->
						</div>
					</div>