<div class="user-settings-page">
	<div>
		<h4>Settings</h4>
	</div>
	<div>
		Account
	</div>
	<div>
		Email {{cookieInfo.email}}
	</div>
	<div>
		Plan {{'Trial (Change plans)'}}
	</div>
	<div>
		Wordpress Sites
	</div>
	<div class="wp-users-container mat-elevation-z8">
		<mat-table #table [dataSource]="dataSource">
			<ng-container matColumnDef="userName">
				<mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
				<mat-cell *matCellDef="let wpUsers"> {{wpUsers.wpUserName}}</mat-cell>
			</ng-container>

			<ng-container matColumnDef="url">
				<mat-header-cell *matHeaderCellDef> URL </mat-header-cell>
				<mat-cell *matCellDef="let wpUsers"> {{wpUsers.wpUrl}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="actions">
				<mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
				<mat-cell *matCellDef="let wpUsers"> <a>{{'Edit'}}</a> </mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>
	</div>
</div>
