<div class="user-settings-page">
	<div>
		<h3>Settings</h3>
	</div>
	<div>
		<h4>Account</h4>
	</div>
	<div>
		Email {{userInfo.secondaryEmail}}
	</div>
	<div [ngSwitch]="userInfo.accountType">
		<div *ngSwitchCase="20">Plan {{'Personal'}}<a [routerLink]="['/app/packages']">(Change Plan)</a></div>
		<div *ngSwitchCase="30">Plan {{'Business'}}<a [routerLink]="['/app/packages']">(Change Plan)</a></div>
		<div *ngSwitchDefault>Plan {{'Free'}}<a [routerLink]="['/app/packages']">(Change Plan)</a></div>
	</div>
	<div>
		<a mat-raised-button [routerLink]="['/app/user/edit']">Edit</a>
	</div>
	<div>
		Wordpress Sites
	</div>
	<div>
		<a mat-raised-button [routerLink]="['/app/user/wordpress_site/new']">Add New</a>
	</div>
	<div class="wp-users-container mat-elevation-z8">
		<mat-table #table [dataSource]="dataSource">
			<ng-container matColumnDef="userName">
				<mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
				<mat-cell *matCellDef="let wpUsers"> {{wpUsers.wpUserName}}</mat-cell>
			</ng-container>

			<ng-container matColumnDef="url">
				<mat-header-cell *matHeaderCellDef> URL </mat-header-cell>
				<mat-cell *matCellDef="let wpUsers"> {{wpUsers.wpUrl}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="actions">
				<mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
				<mat-cell *matCellDef="let wpUsers"> <a mat-raised-button [routerLink]="['/app/user/wordpress_sites/'+wpUsers.shortWpId+'/edit']">Edit</a> </mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>
	</div>
</div>
