<div class="new-user-settings">
	<div>
		<h3>Settings</h3>
	</div>
	<div>
		<div class="user-form-container">
			<form (ngSubmit)="submitUser()" #wpUserForm="ngForm" novalidate>
				<div>
					<h4>Account</h4>
				</div>
				<div>
					<mat-form-field floatPlaceholder="always">
						<input name="userEmail" [(ngModel)]="user.email" disabled="true" #userEmail="ngModel" matInput placeholder="Google Account">
					</mat-form-field>
				</div>
				<div>
					<mat-form-field floatPlaceholder="always">
						<input name="userSecondaryEmail" [(ngModel)]="user.secondaryEmail" #userSecondaryEmail="ngModel" matInput placeholder="Email">
					</mat-form-field>
				</div>
				<div>
					<button mat-raised-button color="primary">Submit</button>
					<a mat-raised-button color="acsent" [routerLink]="['/app/user/lists']">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</div>